# lcov web site
coverage
# production
/build
/dist
/esm
/es
/lib
/types

# external dependencies
node_modules

# config
.eslintrc.js
plopfile.js
setupTests.ts
rollup.config.js
babel.config.js
jest.config.js

graphql/